<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.hidaymovie.HidayMovieApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HidayMovie"
        tools:targetApi="31">

        <!-- Màn hình đăng nhập là màn hình chính -->
        <activity
            android:name="com.example.hidaymovie.ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Các màn hình khác -->

        <activity
            android:name="com.example.hidaymovie.ui.auth.RegisterActivity"
            android:exported="false" />



        <activity android:name="com.example.hidaymovie.ui.auth.ForgotPasswordActivity"

            android:label="Quên Mật Khẩu"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name="com.example.hidaymovie.main.MainActivity"
            android:exported="false" />
        <activity android:name="com.example.hidaymovie.main.MovieDetailActivity"></activity>
 <activity android:name="com.example.hidaymovie.main.ReviewActivity"></activity>

    <activity android:name="com.example.hidaymovie.ui.auth.ProfileActivity"></activity>
        
    </application>


</manifest>
